.main           { background-color:#f8f8f8; width:140vh; height:80vh; margin: 0px auto 0px auto; }
.mainLeft       { background-color:#7389a5; width:25%; height:100%; float: left }
.mainRight      { background-color:#f8f8f8; width:75%; height:100%; float: right }
.jLife          { background-color:#428bca; color: #f8f8f8; width:140vh; height:5vh; margin: 0px auto 0px auto; }
.footer         { background-color:#428bca; color: #f8f8f8; width:140vh; height:5vh; margin: 0px auto 0px auto; }
body            { background-color:#2b4970}